name: Java Logistics CI/CD

on:
  push:
    branches:
      - main
      - production

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Make mvnw executable
        run: chmod +x mvnw
      - name: Build and Test
        run: ./mvnw clean package

  docker:
    needs: build-test
    if: github.ref == 'refs/heads/production'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Make mvnw executable
        run: chmod +x mvnw
      - name: Build JAR
        run: ./mvnw clean package

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker Image
        run: docker build -t suhanimogra/logistics .

      - name: Push Docker Image
        run: docker push suhanimogra/logistics
